Source: libsmdev
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libsmdev/

Package: libsmdev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access and read storage media (SM) devices
 libsmdev is a library to access and read storage media (SM) devices.

Package: libsmdev-dev
Section: libdevel
Architecture: any
Depends: libsmdev (= ${Source-Version})
Description: Header files and libraries for developing applications for libsmdev
 Header files and libraries for developing applications for libsmdev.

Package: libsmdev-tools
Section: utils
Architecture: any
Depends: libsmdev (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for accessing storage media (SM) devices
 Several tools for accessing storage media (SM) devices.

Package: libsmdev-python
Section: python
Architecture: any
Depends: libsmdev (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libsmdev
 Python bindings for libsmdev.

