Source: libsmdev
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, pkg-config, python3-dev, python3-setuptools
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libsmdev
Vcs-Git: https://github.com/libyal/libsmdev.git

Package: libsmdev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libsmdev1
Replaces: libsmdev1
Suggests: libsmdev-dbg
Description: Library to access and read storage media (SM) devices
 libsmdev is a library to access and read storage media (SM) devices.

Package: libsmdev-dbg
Architecture: any
Section: debug
Depends: libsmdev (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libsmdev
 Debugging symbols for libsmdev.

Package: libsmdev-dev
Section: libdevel
Architecture: any
Depends: libsmdev (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libsmdev
 Header files and libraries for developing applications for libsmdev.

Package: libsmdev-tools
Section: utils
Architecture: any
Depends: libsmdev (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libsmdev-utils
Replaces: libsmdev-utils
Description: Several tools for accessing storage media (SM) devices
 Several tools for accessing storage media (SM) devices.

Package: libsmdev-tools-dbg
Section: debug
Architecture: any
Depends: libsmdev-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libsmdev-tools
 Debugging symbols for libsmdev-tools.

Package: libsmdev-python3
Section: python
Architecture: any
Depends: libsmdev (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libsmdev
Replaces: python3-libsmdev
Suggests: libsmdev-python3-dbg
Description: Python 3 bindings for libsmdev
 Python 3 bindings for libsmdev.

Package: libsmdev-python3-dbg
Section: debug
Architecture: any
Depends: libsmdev-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libsmdev-python3
 Debugging symbols for libsmdev-python3.

